node_modules
.next
.git
.gitignore
.github
.vscode
.idea
.trigger
.env
.env.*
!.env.example
npm-debug.log*
yarn-error.log
*.log
coverage
.DS_Store
Thumbs.db
Dockerfile*
docker-compose*.yml
*.tsbuildinfo
